[*.cs]

# CA1707: 标识符不应包含下划线
dotnet_diagnostic.CA1707.severity = none

# CA1307: 指定 StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA1062: 验证公共方法的参数
dotnet_diagnostic.CA1062.severity = none

# IDE0060: 删除未使用的参数
dotnet_code_quality_unused_parameters = all:none

# IDE0055: 修正格式
dotnet_diagnostic.IDE0055.severity = none

# CA1822: 将成员标记为 static
dotnet_diagnostic.CA1822.severity = none

# CA1031: 不捕获常规异常类型
dotnet_diagnostic.CA1031.severity = none

# CA2211: 非常量字段应当不可见
dotnet_diagnostic.CA2211.severity = none

# CA1720: 标识符包含类型名称
dotnet_diagnostic.CA1720.severity = none

# CA1304: 指定 CultureInfo
dotnet_diagnostic.CA1304.severity = none
