<?xml version="1.0"?>
<SysSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SoftName>yueboncore</SoftName>
  <SoftSummary>net &amp;Vue前后端分离</SoftSummary>
  <WebUrl>http://localhost:9528</WebUrl>
  <SysLogo>http://localhost:54678/upload/2020/10/21/2020102115233857338678.png</SysLogo>
  <CompanyName>越邦科技</CompanyName>
  <Address>上海市青浦区诸陆东路558号2楼（国家会展中心旁）</Address>
  <Telphone>13524343287</Telphone>
  <Email>DzTgXXxaXxCpfLcm0xWO7ti9dJRQQ4e+</Email>
  <ICPCode>沪ICP备12045457号</ICPCode>
  <PublicSecurityCode>沪公网安备 31011202004690号</PublicSecurityCode>
  <Webstatus>0</Webstatus>
  <Webclosereason />
  <Webcountcode />
  <Smsapiurl>http</Smsapiurl>
  <Smsusername>BI4C58T7/eSjRxt+3NtIH0nihfh8nBq0xR1TS9WPrY0=</Smsusername>
  <Smspassword>BI4C58T7/eSjRxt+3NtIH0nihfh8nBq0xR1TS9WPrY0=</Smspassword>
  <Emailsmtp>p9LdPJFk4u7dChrgiAx6Ow==</Emailsmtp>
  <Emailssl>true</Emailssl>
  <Emailport>25</Emailport>
  <Emailfrom>cqinwn@yuebon.com</Emailfrom>
  <Emailusername>cqinwn@yuebon.com</Emailusername>
  <Emailpassword>4wXHnR+S0s8=</Emailpassword>
  <Emailnickname>客服</Emailnickname>
  <Fileserver>localhost</Fileserver>
  <LocalPath>D:\netcorespace\权限管理\Yuebon.WebApi\wwwroot</LocalPath>
  <Filepath>upload</Filepath>
  <Filesave>1</Filesave>
  <Fileextension>gif,jpg,jpeg,png,bmp,rar,zip,doc,xls,txt,cer</Fileextension>
  <Thumbnailheight>100</Thumbnailheight>
  <Thumbnailwidth>100</Thumbnailwidth>
</SysSetting>