<?xml version="1.0"?>
<SysSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SoftName>分拣控制系统</SoftName>
  <SoftSummary>分拣控制系统</SoftSummary>
  <WebUrl>https://img.qichetester.com</WebUrl>
  <SysLogo>https://img.qichetester.com/upload/image/20191007/6370605945441997038886636.png</SysLogo>
  <CompanyName>上海越邦网络科技有限公司</CompanyName>
  <Address>上海市青浦区诸陆东路558号2楼</Address>
  <Telphone>13524343287</Telphone>
  <Email>cqinwn@yuebon.com</Email>
  <ICPCode>沪ICP备17054572号</ICPCode>
  <ShareTitle />
  <ShareWeChatImage />
  <ShareWxAppletImage />
  <ShareBackgroundImage />
  <Staticstatus>0</Staticstatus>
  <Staticextension>html</Staticextension>
  <Memberstatus>0</Memberstatus>
  <Webstatus>0</Webstatus>
  <Smsapiurl>http</Smsapiurl>
  <Smsusername>LTAI4FnTBn7n3jqjF5r1ybx8</Smsusername>
  <Smspassword>YMBo4m6YOcNKu96FZelsoMwvI8ObDD</Smspassword>
  <SmsSignName>东方快车</SmsSignName>
  <Emailsmtp>smtp.exmail.qq.com</Emailsmtp>
  <Emailssl>true</Emailssl>
  <Emailport>465</Emailport>
  <Emailfrom>service@yuebon.com</Emailfrom>
  <Emailusername>service@yuebon.com</Emailusername>
  <Emailpassword>Kuaiwen8</Emailpassword>
  <Emailnickname>越邦客服</Emailnickname>
  <Fileserver>localhost</Fileserver>
  <LocalPath>D:\netcorespace\权限管理\Yuebon.WebApi\wwwroot</LocalPath>
  <Osssecretid>LTM8o4UbVKYGdEUe</Osssecretid>
  <Osssecretkey>nMck4d9VQLgTe9R5Dg4J4kujns87Hf</Osssecretkey>
  <Ossbucket>yuebon</Ossbucket>
  <Ossendpoint>oss-cn-qingdao.aliyuncs.com</Ossendpoint>
  <Filepath>upload</Filepath>
  <Filesave>2</Filesave>
  <Fileremote>0</Fileremote>
  <Fileextension>gif,jpg,jpeg,png,bmp,rar,zip,doc,xls,txt,cer</Fileextension>
  <Videoextension>flv,mp3,mp4,avi</Videoextension>
  <Attachsize>51200</Attachsize>
  <Videosize>102400</Videosize>
  <Imgsize>10240</Imgsize>
  <Imgmaxheight>1600</Imgmaxheight>
  <Imgmaxwidth>1600</Imgmaxwidth>
  <Thumbnailheight>300</Thumbnailheight>
  <Thumbnailwidth>300</Thumbnailwidth>
  <Thumbnailmode>Pad</Thumbnailmode>
  <Watermarktype>0</Watermarktype>
  <Watermarkposition>8</Watermarkposition>
  <Watermarkimgquality>100</Watermarkimgquality>
  <Watermarkpic>watermark.png</Watermarkpic>
  <Watermarktransparency>5</Watermarktransparency>
  <Watermarktext>yuebon</Watermarktext>
  <Watermarkfontsize>12</Watermarkfontsize>
</SysSetting>