<?xml version="1.0"?>
<SysSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SoftName>做个车吧管理中心</SoftName>
  <SoftSummary>做个车吧管理中心</SoftSummary>
  <WebUrl>https://img.qichetester.com</WebUrl>
  <SysLogo>https://img.qichetester.com/upload/image/20191007/6370605945441997038886636.png</SysLogo>
  <CompanyName>煦儒工业科技（上海）有限公司</CompanyName>
  <Address>上海市嘉定区安亭镇曹安公路5666号3层J210室</Address>
  <Telphone>13524343287</Telphone>
  <Email>cqinwn@yuebon.com</Email>
  <ICPCode>沪ICP备17054572号</ICPCode>
  <ShareTitle>一个超级棒的汽车人的圈子</ShareTitle>
  <ShareWeChatImage>https://img.qichetester.com/upload/image/20190924/6370494784853237892084511.gif</ShareWeChatImage>
  <ShareWxAppletImage>https://img.qichetester.com/upload/image/20191007/6370605945441997038886636.png</ShareWxAppletImage>
  <ShareBackgroundImage>https://img.qichetester.com/upload/image/20191007/6370605945441997038886636.png</ShareBackgroundImage>
  <Staticstatus>0</Staticstatus>
  <Staticextension>html</Staticextension>
  <Memberstatus>0</Memberstatus>
  <Webstatus>0</Webstatus>
  <Smsapiurl>http</Smsapiurl>
  <Smsusername>test</Smsusername>
  <Emailsmtp>smtp.qq.com</Emailsmtp>
  <Emailssl>0</Emailssl>
  <Emailport>25</Emailport>
  <Emailfrom>cqinwn@163.com</Emailfrom>
  <Emailusername>cqinwn@163.com</Emailusername>
  <Emailpassword>12345678</Emailpassword>
  <Fileserver>localhost</Fileserver>
  <LocalPath>D:\netcorespace\YueGroup\权限管理\Yuebon.WebApp\wwwroot</LocalPath>
  <Osssecretid>LTM8o4UbVKYGdEUe</Osssecretid>
  <Osssecretkey>nMck4d9VQLgTe9R5Dg4J4kujns87Hf</Osssecretkey>
  <Ossbucket>yuebon</Ossbucket>
  <Ossendpoint>oss-cn-qingdao.aliyuncs.com</Ossendpoint>
  <Filepath>upload</Filepath>
  <Filesave>2</Filesave>
  <Fileremote>0</Fileremote>
  <Fileextension>gif,jpg,jpeg,png,bmp,rar,zip,doc,xls,txt,cer</Fileextension>
  <Videoextension>flv,mp3,mp4,avi</Videoextension>
  <Attachsize>51200</Attachsize>
  <Videosize>102400</Videosize>
  <Imgsize>10240</Imgsize>
  <Imgmaxheight>1600</Imgmaxheight>
  <Imgmaxwidth>1600</Imgmaxwidth>
  <Thumbnailheight>300</Thumbnailheight>
  <Thumbnailwidth>300</Thumbnailwidth>
  <Thumbnailmode>Pad</Thumbnailmode>
  <Watermarktype>0</Watermarktype>
  <Watermarkposition>8</Watermarkposition>
  <Watermarkimgquality>100</Watermarkimgquality>
  <Watermarkpic>watermark.png</Watermarkpic>
  <Watermarktransparency>5</Watermarktransparency>
  <Watermarktext>yuebon</Watermarktext>
  <Watermarkfontsize>12</Watermarkfontsize>
</SysSetting>